body {
  background-image: url('./112.png');
  margin: 0;
 font-family: "PT Sans", Tahoma, Arial;
}
.metro {
  list-style: none;
  padding: 0 0 60px 0;
  margin: 0px 0 0 50px;
  border-left: 5px solid #778899;
  z-index: 1;
}
.metro:before {
  content: "";
  list-style: none;
  padding: 0 0 100vh 0;
  margin: 0px 0 0 -5px;
  border-left: 5px solid #778899;
  z-index: 0;
  display: block;
  position: absolute;
}

.metro li {
  line-height: 2em;
}
.metro ul {
  margin: 20px 0 20px 15px;
  padding: 0;
  border: none;
  list-style: none;
}
.metro ul:before,
.metro ul:after {
  content: '';
  width: 5px;
  height: 28px;
  background: #778899;
  position: relative;
  display: block;
  left: -9px;
}
#sub_menu_3:before,
#sub_menu_3:after {
  bottom: -1px;
}
.metro ul:before {
  transform: rotate(-45deg);
  margin-top: -15px;
}
.metro ul:after {
  transform: rotate(45deg);
  bottom: -20px;
}
.metro ul li {
  padding-bottom: 10px; 
  border-left: 5px solid #778899;
}
.metro ul li:first-child {
  margin-top: -5px;
  padding-top: 5px;
}
.metro ul li:last-child {
  padding-bottom: 10px;
  margin-bottom: -27px;
}
.metro a {
  text-decoration: none;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  color: #4a4b4d;
  cursor: pointer;
}
.metro a:before {
  content: '';
  display: inline-block;
  background: rgb(95, 158, 160);
  width: 12px;
  height: 12px;
  left: -9px;
  position: relative;
  border-radius: 50%;
  margin-right: 0.5em;
}

aside{
  float: left;
  top: 10vh;
  position: fixed;
  width: 245px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#menu_body {
  background-color: #dcdcdc;
  width: 260px;
  height: 90vh;
  overflow-x: auto;
  border-right: 5px solid #c0c0c0;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
::-webkit-resizer{ 
  background-repeat:no-repeat; 
  height:0px 
  } 
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar {
  height: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(111, 150, 204, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(207, 226, 233, 0.4); 
}

#menu_body footer{
  position: absolute;
  bottom: 0;
  background: #708090;
  margin: 0;
  padding: 10px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#menu_body footer a{
  text-decoration: none;
  font-family: "PT Sans", Tahoma, Arial;
  color:white;
}
#menu_body footer a:hover{
  color: #eee;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}
header {
  font-family: "PT Sans", Tahoma, Arial;
  width: 100%;
  height: 10vh;
  background-color: #708090;
  font-size: 50px;
  z-index: 2;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.head a {
  color: #fff;
  text-shadow: 1px 2px 3px rgba(0,0,0, 0.3);
  text-decoration: none;
  /* text-shadow: -1px -1px #FFF,
  -1px -1px #FFF,
  -1px 1px #FFF,
  -2px 2px rgba(255, 255, 255, 0.89),
  1px 1px #FFF,
  2px 2px rgb(240, 232, 232),
  1px -1px #FFF,
  2px -2px #FFF,
  -3px -3px 2px #BBB,
  -3px 3px 2px #BBB,
  3px 3px 2px #BBB,
  3px -3px 2px #BBB;
color: steelblue;
transition: all 1s; */
padding-left: 9px;
font-family: 'Merriweather', serif;
font-size: 40px;
}

th {
  border: none;
  padding: 4px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
td {
  border: 1px solid wheat;
  border-radius: 8px;
  background: #d3d3d3;
  padding:2px;
  font-family: 'Merriweather', serif;
  font-size: 13px;
}
td:first-child {
  width: 51px;
}
table {
  /*background: linear-gradient(top right, white, #D3D3D3);*/
  color: #191970;
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 4px;
  background: #ece9e0;
  color: #656665;
  border: 16px solid #ece9e0;
  border-radius: 20px;
  margin:30px 50px;
  
  display: block;
  position: relative;
  float: left;
  top:100px;
  left:260px;
  min-width: 370px;
  
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}

.week{
  position: absolute;
  top:100px;
  left: 300px;
}

h2{
  font-size: 30px;
  font-family: 'Lobster', cursive;
  margin: 0;
  color: rgb(95, 158, 160);
  text-shadow: 1px 1px 2px black, 0 0 1em white;
}
