html {
  margin: 0;
}
body {
  background-image: url('./112.png');
  margin: 0;
  font-family: "PT Sans", Tahoma, Arial;
}
.metro {
  list-style: none;
  padding: 0 0 60px 0;
  margin: 0px 0 0 50px;
  border-left: 5px solid #2e2e2e;
  z-index: 1;
}
.metro:before {
  content: "";
  list-style: none;
  padding: 0 0 100vh 0;
  margin: 0px 0 0 -5px;
  border-left: 5px solid #2e2e2e;
  z-index: 0;
  display: block;
  position: absolute;
}

.metro li {
  line-height: 2em;
}
.metro ul {
  margin: 20px 0 20px 15px;
  padding: 0;
  border: none;
  list-style: none;
}
.metro ul:before,
.metro ul:after {
  content: '';
  width: 5px;
  height: 28px;
  background: #2e2e2e;
  position: relative;
  display: block;
  left: -9px;
}
#sub_menu_3:before,
#sub_menu_3:after {
  bottom: -1px;
}
.metro ul:before {
  transform: rotate(-45deg);
  margin-top: -15px;
}
.metro ul:after {
  transform: rotate(45deg);
  bottom: -20px;
}
.metro ul li {
  padding-bottom: 10px; 
  border-left: 5px solid #2e2e2e;
}
.metro ul li:first-child {
  margin-top: -5px;
  padding-top: 5px;
}
.metro ul li:last-child {
  padding-bottom: 10px;
  margin-bottom: -27px;
}
.metro a {
  text-decoration: none;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  color: #4a4b4d;
  cursor: pointer;
}
.metro a:before {
  content: '';
  display: inline-block;
  background: rgb(95, 158, 160);
  width: 12px;
  height: 12px;
  left: -9px;
  position: relative;
  border-radius: 50%;
  margin-right: 0.5em;
}

aside{
  float: left;
  top: 10vh;
  position: fixed;
  width: 245px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: #4e4e4e;
  background: url('./112.png');

}
#menu_body {
  background: rgba(0,0,0,0.2);
  width: 260px;
  height: 90vh;
  overflow-x: auto;
  border-right: 5px solid #c0c0c0;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
::-webkit-resizer{ 
  background-repeat:no-repeat; 
  height:0px 
  } 
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar {
  height: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(111, 150, 204, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(207, 226, 233, 0.4); 
}

#menu_body footer{
  position: absolute;
  bottom: 0;
  background: #2e2e2e;
  margin: 0;
  padding: 10px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#menu_body footer a{
  text-decoration: none;
  font-family: "PT Sans", Tahoma, Arial;
  color: rgb(95, 158, 160);
}
#menu_body footer a:hover{
  color: #eee;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}
header {
  font-family: "PT Sans", Tahoma, Arial;
  width: 100%;
  height: 10vh;
  background-color: #2e2e2e;
  font-size: 8vh;
  margin: 0;
  z-index: 2;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.head a {
  color: rgb(95, 158, 160);
  text-shadow: 1px 2px 3px rgba(0,0,0, 0.3);
  text-decoration: none;
  /* text-shadow: -1px -1px #FFF,
  -1px -1px #FFF,
  -1px 1px #FFF,
  -2px 2px rgba(255, 255, 255, 0.89),
  1px 1px #FFF,
  2px 2px rgb(240, 232, 232),
  1px -1px #FFF,
  2px -2px #FFF,
  -3px -3px 2px #BBB,
  -3px 3px 2px #BBB,
  3px 3px 2px #BBB,
  3px -3px 2px #BBB;
color: steelblue;
transition: all 1s; */
margin-left: 100px;
padding-left: 9px;
font-family: 'Lobster', cursive;
font-size: 40px;
}

main{
  position: absolute;
  top: 10vh;
  width: 60%;
  height: 90vh;
  margin: 0 10%;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background: rgba(0, 0, 0, 0.3);
  color: #4e4e4e;
  padding: 0 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

main h1 {
  text-align: center;
}
th {
  border: none;
  padding: 4px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
td {
  border: 0px;
  border-radius: 4px;
  background: rgba(0,0,0, 0.3);
  padding:6px 2px;
  font-family: 'Merriweather', serif;
  font-size: 13px;
}


table {
  /*background: linear-gradient(top right, white, #D3D3D3);*/
 
  background: rgba(236, 233, 224,0.3);
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 4px;
  color: #4e4e4e;
  border: 0;
  padding: 10px;
  border-radius: 15px;
  margin:30px 50px;
  table-layout: fixed;
  display: block;
  position: relative;
  float: left;
  min-width: 370px;
 max-width: 440px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}

table h2{
  font-size: 30px;
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0 0 30px 0;
  color: rgb(95, 158, 160);
  text-shadow: 1px 1px 2px black, 0 0 1em white;
}

.week1{
  position: absolute;
  top: 90px;
  left: 260px;
}


.drop{
  z-index: 2;
  color: black;
  position: fixed;
  cursor: pointer;
}


.drop a {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20%, 100%);
  width: 60px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid rgb(95, 158, 160);
  border-radius: 3px;
  font-size: 14px;
  color: rgb(95, 158, 160);
  transition: 0.5s;
  overflow: hidden;
}
.drop a:hover {
  color: #2e2e2e;
}
.drop a span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(95, 158, 160, 0.5);
  transition: 0.5s;
  z-index: -1;
}
.drop a span:nth-child(1) {
  top: -100%;
  left: -100%;
}
.drop a:hover span:nth-child(1) {
  top: 0;
  left: 0;
}
.drop a span:nth-child(2) {
  bottom: -100%;
  left: -100%;
}
.drop a:hover span:nth-child(2) {
  bottom: 0;
  left: 0;
}
.drop a span:nth-child(3) {
  top: -100%;
  right: -100%;
}
.drop a:hover span:nth-child(3) {
  top: 0;
  right: 0;
}
.drop a span:nth-child(4) {
  bottom: -100%;
  right: -100%;
}
.drop a:hover span:nth-child(4) {
  bottom: 0;
  right: 0;
}



@media screen and (max-width: 1880px){
  table {
    margin: 40px;
  }
}

@media screen and (max-width: 1820px){
  table {
    margin: 25px;
  }
}

@media screen and (max-width: 1732px){
  table {
    margin: 15px;
  }
}

@media screen and (max-width: 1674px){
  table {
    margin: 40px 100px;
  }
}

@media screen and (max-width: 1545px){
  table {
    margin: 40px 70px;
  }
}

@media screen and (max-width: 1423px){
  table {
    margin: 50px;
  }
}

@media screen and (max-width: 1345px){
  table {
    margin: 30px;
  }
}

@media screen and (max-width: 1250px){
  table {
    margin: 5px;
  }
}
@media screen and (max-width: 1200px){
  table {
    margin: 40px 170px;
  }
}

@media screen and (max-width: 1100px){
  table {
    margin: 40px 150px;
  }
}

@media screen and (max-width: 990px){
  table {
    margin: 40px 70px;
  }
}

@media screen and (max-width: 845px){
  table {
    margin: 40px;
  }
}

@media screen and (max-width: 770px){
  table {
    margin: 20px;
  }
}

@media screen and (max-width: 725px){
  table {
    margin: 0 5px 20px 0;
  }
}

@media screen and (max-width: 700px){
  main{
  width: 80%;
  margin: 0;
  padding: 0 10%;
  }
  .week1{
    left: 0px;
    padding: 0 10%;
  }
  .head a{
    font-size: 25px;
  }
}
@media screen and (max-width: 550px){
  .week1{
    left: 0px;
    padding: 0 5%;
  }
}


@media screen and (max-width: 490px){
  .week1{
    left: 0px;
    padding: 0 2%;
  }
}

@media screen and (max-width: 480px){
  table td {
    width: 300px;
  }

  table{
    min-width: 200px;
  }
}
@media screen and (max-width: 433px){
  table{
    font-size: 13px;
  }
}
@media screen and (max-width: 398px){
  table{
    font-size: 10px;

  }
  table td {
    width: 260px;

  }
}
@media screen and (max-width: 355px){
    table thead {
    display: none;
  }
  .head a {
    margin-left: 80px;
  }
}
